body { font-family: "Segoe UI", Tahoma, sans-serif; background:  #ffffff; margin: 0; overflow: hidden; text-align: center; }
.ui-panel { padding: 10px; background: white; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }


.node circle {
    fill: #e3f2fd;
    stroke: #000000;
    stroke-width: 0.3px;
    r: 48; }

.node text {
    font-family: sans-serif;
    text-anchor: middle;
    fill: #333;
}

.node .val { font-size: 16px; font-weight: bold; fill: #000; }
.node .ids { font-size: 10px; fill: #555; }
.node .rmax { font-size: 11px; fill: #e91e63; font-weight: bold; }

.link {
    fill: none;             
    stroke: #555;          
    stroke-width: 2px;
    opacity: 0.6;
}

#status-bar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    border-radius: 20px;
    z-index: 999;
    pointer-events: none;
}


svg {
    width: 100vw;
    height: calc(100vh - 80px); 
    display: block;
}


.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}


.nav-btn {
    flex: 1;
    border: none;
    border-radius: 12px;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s;
}

.nav-btn:active { transform: scale(0.95); } 
.insert { background-color: #4caf50; color: white; }
.delete { background-color: #f44336; color: white; }


#input-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 100;
}

.hidden { display: none !important; }

.input-card {
    font-size: 28px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}

#node-value {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.modal-btns { display: flex; gap: 10px; margin-top: 20px;}
.modal-btns button { flex: 1; padding: 10px; border-radius: 8px; cursor: pointer; border: 1px solid #ddd; }
.primary-btn { background: #2196f3; color: white; border: none !important; }

.query { background-color: #ff9800; color: white; }

.node.highlighted circle {
    fill: #fff9c4; 
    stroke: #fbc02d;
    stroke-width: 0.3px;
}

#range-input-group input {
    width: 45%;
    display: inline-block;
        margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}